<article class="blog-post-summary">
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    <p class="article-meta">{{ 'general.published_on' | trans({'%date%': article.created | date('M d, Y')}) }}</p>
    {% if article.image %}
        <img src="{{ article.image }}" alt="{{ article.title }}">
    {% endif %}
    <div class="article-excerpt">
        {{ article.previewText }}
    </div>
    <a href="{{ article.url }}">{{ 'general.read_more' | trans }}</a>
</article>