{% app_block 'header_before' %}
<header>
    <nav>
        <ul>
            <li class="brand">
                <a href="/">
                    <img src="{{ 'img/icon.png'|asset_url }}" alt="SitePack" />
                    <span class="site-name">
                        {{ site.name }}
                    </span>
                </a>
            </li>

            {{ sitepack_navigation() }}
            
            <li class="nav-icon nav-search-icon" id="nav-search">
                {{ sitepack_live_search_icon() }}
            </li>
{#            {% if settings.store_enabled %}#}
            <li class="nav-icon nav-shopping-cart" id="nav-cart">
                {{ sitepack_shopping_cart_icon() }}
            </li>
{#            {% endif %}#}

            <li class="nav-toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </li>
        </ul>
    </nav>
{#You can use a search bar:#}
{#    <div class="search-bar">#}
{#        {{ sitepack_live_search() }}#}
{#    </div>#}
</header>
{% app_block 'header_after' %}
